# _____                              _______________________________
# ____/ TELEMAC Project Definitions /______________________________/
#
[Configurations]
configs:   C7.gfortran C7.pgi11 C7.ifort10 C7.gfortranHPC C7.ifort10HPC C7.nag5 C7.nag5HPC
#
# _____                        ____________________________________
# ____/ Calibre5 Intel Scalar /___________________________________/
[C7.ifort10]
#
root:       /netdata/systel/V6P2
version:    v6p2
language:   2
modules:    update system
options:    
#
cmd_obj:    ifort -c -O3 -convert big_endian -cpp -DHAVE_TECPLOT <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    ifort -convert big_endian -o <exename> <objs> -Xlinker --start-group <libs> --end-group
#ESTEL cmd_exe:    ifort -convert big_endian -o <exename> <objs> -Xlinker --start-group <libs> --end-group -lstdc++ -lz
#
mods_all:   -I <config>
# estel3d
#ESTEL libs_estel3d:/netdata/systel/LIBRARY/tecplot/tecplot_10/intel_64_10_C7/tecplot10.a
#MED libs_all: -L/netdata/systel/LIBRARY/MED/MED-3.0.5_intel_64_10_C7/lib -lmed -L/netdata/systel/LIBRARY/HDF5/HDF5-1.8.7_intel_64_10_C7/lib -lhdf5

#
sfx_zip:    .zip
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:    .exe
#
#val_root:   <root>/../validation
val_root:   <modpath>/validation
# also possible val_root:   <modpath>/calibration
val_rank:   all
#val_rank: =11
# also possible val_rank:   <3 >7 6
#
# _____                        ____________________________________
# ____/ Calibre5 PGI Scalar /_____________________________________/
[C7.pgi11]
#
root:       /netdata/systel/V6P2
version:    v6p2
language:   2
modules:    update system
#
options:    
#
cmd_obj:    pgf90  -c -O3 -byteswapio -Mpreprocess -DHAVE_TECPLOT <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    pgf90  -c -O3 -byteswapio -o <exename> <objs> -Xlinker --start-group <libs> --end-group
#
mods_all:   -I <config>
# estel3d
#ESTEL libs_estel3d:/netdata/systel/LIBRARY/tecplot/tecplot_10/intel_64_10_C7/tecplot10.a
#
sfx_zip:    .zip
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:    .exe
#
#val_root:   <root>/../validation
val_root:   <modpath>/validation
# also possible val_root:   <modpath>/calibration
val_rank:   all
# also possible val_rank:   <3 >7 6

# __                       	       _____________________________________
# ____/ Calibre5 GFORTRAN 4.1.2 Scalar /_______________________________/
[C7.gfortran]
#
root:       /netdata/systel/V6P2
version:    v6p2
language:   2
modules:    update system
options:
#
cmd_obj:    gfortran -c -O3 -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 -cpp -DHAVE_TECPLOT <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    gfortran -fconvert=big-endian -frecord-marker=4 -o <exename> <objs> -Xlinker --start-group <libs> --end-group
#ESTEL cmd_exe:    gfortran -fconvert=big-endian -frecord-marker=4 -o <exename> <objs> -Xlinker --start-group <libs> --end-group -lstdc++ -lz
#
mods_all:   -I <config>
# estel3d
#ESTEL libs_estel3d:/netdata/systel/LIBRARY/tecplot/tecplot_10/intel_64_10_C7/tecplot10.a
#MED libs_all: /netdata/systel/LIBRARY/MED/MED-3.0.5_gfortran_linux_C7/lib/libmed.a /netdata/systel/LIBRARY/HDF5/HDF5-1.8.7_gfortran_linux_C7/lib/libhdf5.a 
#
sfx_zip:    .gztar
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:    .exe
#
#val_root:   <root>/../validation
val_root:   <modpath>/validation
# also possible val_root:   <modpath>/calibration
val_rank:   all
# also possible val_rank:   <3 >7 6
#
# _____               	              __________________________________
# ____/ Calibre5 GFORTRAN 4.1.2 MPICH _________________________________/
[C7.gfortranHPC]
#
root:       /netdata/systel/V6P2
version:    v6p2
language:   2
modules:    update system
#
options:    parallel mpi
#mpi_hosts: chap707 (example)
mpi_cmdexec: /usr/bin/mpirun -machinefile MPI_HOSTFILE -np <ncsize> <exename>
#
cmd_obj:    gfortran -c -O3 -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 -cpp -DHAVE_TECPLOT <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    /usr/bin/mpif90 -fconvert=big-endian -frecord-marker=4 -lpthread -lm -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#ESTEL cmd_exe:    /usr/bin/mpif90 -fconvert=big-endian -frecord-marker=4 -lpthread -lm -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group -lstdc++ -lz
#
mods_all:   -I <config>
# estel3d
#ESTEL libs_estel3d:/netdata/systel/LIBRARY/tecplot/tecplot_10/intel_64_10_C7/tecplot10.a
#
#
incs_parallel:      -I /usr/include/mpi/
libs_parallel:      /netdata/systel/LIBRARY/metis/gfortran_linux_C7/libmetis.a
libs_all:	    -pthread -I/usr/lib/openmpi/lib -L/usr/lib/openmpi/lib -lmpi_f90 -lmpi_f77 -lmpi -lopen-rte -lopen-pal -ldl -Wl,--export-dynamic -lnsl -lutil -lm -ldl
#MED libs_all:	    -pthread -I/usr/lib/openmpi/lib -L/usr/lib/openmpi/lib -lmpi_f90 -lmpi_f77 -lmpi -lopen-rte -lopen-pal -ldl -Wl,--export-dynamic -lnsl -lutil -lm -ldl /netdata/systel/LIBRARY/MED/MED-3.0.5_gfortran_linux_C7/lib/libmed.a /netdata/systel/LIBRARY/HDF5/HDF5-1.8.7_gfortran_linux_C7/lib/libhdf5.a 
#
sfx_zip:    .zip
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:    .exe
#
#val_root:   <root>/../validation
val_root:   <modpath>/validation
# also possible val_root:   <modpath>/calibration
val_rank:   all
# also possible val_rank:   <3 >7 6

# _____               	              __________________________________
# ____/ Calibre5 GFORTRAN 4.1.2 MPICH _________________________________/
[C7.ifort10HPC]
#
root:       /netdata/systel/V6P2
version:    v6p2
language:   2
#
modules:    update system
options:    parallel mpi
#mpi_hosts: chap707 (example)
mpi_cmdexec: mpirun -machinefile MPI_HOSTFILE -np <ncsize> <exename>
#
cmd_obj:    ifort -c -O3 -convert big_endian -cpp -DHAVE_TECPLOT <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    ifort -convert big_endian -o <exename> <objs> -Xlinker --start-group <libs> --end-group
#ESTEL cmd_exe:    ifort -convert big_endian -o <exename> <objs> -Xlinker --start-group <libs> --end-group -lstdc++ -lz
#
mods_all:   -I <config>
# estel3d
#ESTEL libs_estel3d:/netdata/systel/LIBRARY/tecplot/tecplot_10/intel_64_10_C7/tecplot10.a
#
#
incs_parallel:      -I /netdata/systel/LIBRARY/mpi/intel_64_10/include
libs_parallel:      /netdata/systel/LIBRARY/metis/intel_64_10_C7/libmetis.a
libs_all:           -L/netdata/systel/LIBRARY/mpi/intel_64_10/lib -lmpichf90 -lmpich -lopa -lpthread -lpthread -lrt
#MED libs_all:           -L/netdata/systel/LIBRARY/mpi/intel_64_10/lib -lmpichf90 -lmpich -lopa -lpthread -lpthread -lrt -L/netdata/systel/LIBRARY/MED/MED-3.0.5_intel_64_10_C7/lib -lmed -L/netdata/systel/LIBRARY/HDF5/HDF5-1.8.7_intel_64_10_C7/lib -lhdf5
#
sfx_zip:    .zip
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:    .exe
#
#val_root:   <root>/../validation
val_root:   <modpath>/validation
# also possible val_root:   <modpath>/calibration
val_rank:   all
# also possible val_rank:   <3 >7 6

# _____               	 __________________________________
# ____/ Calibre5 NAG 5.3 _________________________________/
[C7.nag5]
#
root:       /netdata/systel/V6P2
version:    v6p2
language:   2
#
modules:    update system
options:    
#
# no big Endian option... Please use the convert program in $HOMETEL/bin/convert
cmd_obj:    nagfor -c -O4 -w=obs -Oassumed -convert=BIG_ENDIAN -fpp -DHAVE_TECPLOT <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    nagfor -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#ESTEL cmd_exe:    nagfor -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group -lstdc++
#
mods_all:   -I <config>
# estel3d
#ESTEL libs_estel3d:/netdata/systel/LIBRARY/tecplot/tecplot_10/intel_64_10_C7/tecplot10.a
#
#
sfx_zip:    .zip
# .lib suffix not recognised by NAG
sfx_lib:    .a
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:    .exe
#
#val_root:   <root>/../validation
val_root:   <modpath>/validation
# also possible val_root:   <modpath>/calibration
val_rank:   all
# also possible val_rank:   <3 >7 6
#
# _____               	       __________________________________
# ____/ Calibre5 NAG 5.3 MPICH _________________________________/
[C7.nag5HPC]
#
root:       /netdata/systel/V6P2
version:    v6p2
language:   2
modules:    update system
#
options:    parallel mpi
#mpi_hosts: chap707 (example)
mpi_cmdexec: mpirun -machinefile MPI_HOSTFILE -np <ncsize> <exename>
#
cmd_obj:    nagfor -c -O4 -w=obs -Oassumed -convert=BIG_ENDIAN -fpp -DHAVE_TECPLOT <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    nagfor -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#ESTEL cmd_exe:    nagfor -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group -lstdc++
#
mods_all:   -I <config>
# estel3d
#ESTEL libs_estel3d:/netdata/systel/LIBRARY/tecplot/tecplot_10/intel_64_10_C7/tecplot10.a
#
#
incs_parallel:      -I /netdata/systel/LIBRARY/mpi/NAG_64_5_C7/include
libs_parallel:      /netdata/systel/LIBRARY/metis/gfortran_linux_C7/libmetis.a
libs_all:	    -L/netdata/systel/LIBRARY/mpi/NAG_64_5_C7/lib -lmpichf90 -lmpich -lopa -lpthread -lrt
#
sfx_zip:    .zip
# .lib suffix not recognised by NAG
sfx_lib:    .a
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:    .exe
#
#val_root:   <root>/../validation
val_root:   <modpath>/validation
# also possible val_root:   <modpath>/calibration
val_rank:   all
# also possible val_rank:   <3 >7 6

