# _____                              _______________________________
# ____/ TELEMAC Project Definitions /______________________________/
#
[Configurations]
configs:    fedgfortrans fedgfortransdbg 
# fedgfortranp fedgfortranpdbg fedgfopenmpi fedgfopenmpidbg
# _____                         ____________________________________
# ____/ Fedora gfortran scalar /___________________________________/
[fedgfortrans]
#
root:       /home/telemac/workspace/trunk
version:    v6p2
language:   2
modules:    update system
options:
#
cmd_obj:    gfortran -c -O3 -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    gfortran -fconvert=big-endian -frecord-marker=4 -v -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#
mods_all:   -I <config>
#
sfx_zip:    .gztar
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
# also possible val_root:   <root>/../validation
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
#
# _____                               ____________________________________
# ____/ Fedora gfortran scalar debug /___________________________________/
[fedgfortransdbg]
#
root:       /home/telemac/workspace/trunk
version:    v6p2
language:   2
modules:    update system
options:
#
cmd_obj:    gfortran -c -g -fbounds-check -Wall -fbacktrace -finit-real=nan -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    gfortran -fconvert=big-endian -frecord-marker=4 -v -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#
mods_all:   -I <config>
#
sfx_zip:    .gztar
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
# also possible val_root:   <root>/../validation
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
#
# _____                          ___________________________________
# ____/ Fedora gfortran openMPI /__________________________________/
[fedgfopenmpi]
#
root:       /home/telemac/workspace/trunk
version:    v6p2
language:   2
modules:    update system
#
options:    parallel mpi
#
par_cmdexec:   <config>/partel < PARTEL.PAR >> <partel.log>
#
mpi_cmdexec:   /usr/lib64/openmpi/bin/mpiexec -wdir <wdir> -n <ncsize> <exename>
mpi_hosts:
#
cmd_obj:    gfortran -c -O3 -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    /usr/lib64/openmpi/bin/mpif90 -fconvert=big-endian -frecord-marker=4 -lpthread -v -lm -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#
mods_all:   -I <config>
#
incs_parallel:      -I /usr/include/openmpi-x86_64/
libs_partel:      /home/telemac/metis-4.0.3/libmetis.a
libs_all       :    /usr/lib64/openmpi/lib/libmpi.so
#
sfx_zip:    .gztar
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
# also possible val_root:   <root>/../validation
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
#
# _____                                ___________________________________
# ____/ Fedora gfortran openMPI debug /__________________________________/
[fedgfopenmpidbg]
#
root:       /home/telemac/workspace/trunk
version:    v6p2
language:   2
modules:    update system
#
options:    parallel mpi
#
par_cmdexec:   <config>/partel < PARTEL.PAR >> <partel.log>
#
mpi_cmdexec:   /usr/lib64/openmpi/bin/mpiexec -wdir <wdir> -n <ncsize> <exename>
mpi_hosts:
#
cmd_obj:    gfortran -c -g -fbounds-check -Wall -fbacktrace -finit-real=nan -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    /usr/lib64/openmpi/bin/mpif90 -fconvert=big-endian -frecord-marker=4 -lpthread -v -lm -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#
mods_all:   -I <config>
#
incs_parallel:      -I /usr/include/openmpi-x86_64/
libs_partel:      /home/telemac/metis-4.0.3/libmetis.a
libs_all       :    /usr/lib64/openmpi/lib/libmpi.so
#
sfx_zip:    .gztar
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
# also possible val_root:   <root>/../validation
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
#
# _____                         ____________________________________
# ____/ Fedora gfortran MPICH2 /___________________________________/
[fedgfortranp]
#
root:       /home/telemac/workspace/trunk
version:    v6p2
language:   2
modules:    update system
#
options:    parallel mpi
#
par_cmdexec:   <config>/partel < PARTEL.PAR >> <partel.log>
#
mpi_cmdexec:   /usr/lib64/mpich2/bin/mpiexec -wdir <wdir> -n <ncsize> <exename>
mpi_hosts:
#
cmd_obj:    gfortran -c -O3 -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    /usr/lib64/mpich2/bin/mpif90 -fconvert=big-endian -frecord-marker=4 -lpthread -v -lm -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#
mods_all:   -I <config>
#
incs_parallel:      -I /usr/include/mpich2-x86_64
libs_partel:      /home/telemac/metis-4.0.3/libmetis.a
libs_all       :    /usr/lib64/mpich2/lib/libmpich.so
#
sfx_zip:    .gztar
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
# also possible val_root:   <root>/../validation
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
#
 _____                               ____________________________________
# ____/ Fedora gfortran MPICH2 debug/___________________________________/
[fedgfortranpdbg]
#
root:       /home/telemac/workspace/trunk
version:    v6p2
language:   2
modules:    update system
#
options:    parallel mpi
#
par_cmdexec:   <config>/partel < PARTEL.PAR >> <partel.log>
#
mpi_cmdexec:   /usr/lib64/mpich2/bin/mpiexec -wdir <wdir> -n <ncsize> <exename>
mpi_hosts:
#
cmd_obj:    gfortran -c -g -fbounds-check -Wall -fbacktrace -finit-real=nan -ffixed-line-length-132 -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_lib:    ar cru <libname> <objs>
cmd_exe:    /usr/lib64/mpich2/bin/mpif90 -fconvert=big-endian -frecord-marker=4 -lpthread -v -lm -o <exename> <objs> -Wl,--start-group <libs> -Wl,--end-group
#
mods_all:   -I <config>
#
incs_parallel:      -I /usr/include/mpich2-x86_64
libs_partel:      /home/telemac/metis-4.0.3/libmetis.a
libs_all       :    /usr/lib64/mpich2/lib/libmpich.so
#
sfx_zip:    .gztar
sfx_lib:    .lib
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
# also possible val_root:   <root>/../validation
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
#
